.checkbox-label,
.radio-label
  display: block
  margin-bottom: 20px
  position: relative
  padding-left: 28px

  &:last-child
    margin-bottom: 0

  &.disabled
    &:focus
      outline: none

  &:focus
    outline: 1px dotted inherit

  input[type="checkbox"],
  input[type="radio"]
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

.checkbox-icon,
.radio-icon
  border: 1px solid #cecece
  cursor: pointer
  height: 22px
  left: 0
  line-height: 20px
  position: absolute
  top: 0
  text-align: center
  width: 22px

.checkbox-icon
  border-radius: 5px

.radio-icon
  border-radius: 50%
  font-size: 12px
  top: -1px

input[type="checkbox"]:checked + .checkbox-icon:before
  background-color: #000
  border-radius: 3px
  content: ""
  height: 14px
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 14px

input[type="checkbox"]:focus + .checkbox-icon,
input[type="checkbox"]:active + .checkbox-icon
  box-shadow: 0 0 0 2px #00d123

input[type="radio"]:checked + .radio-icon:before
  background-color: #000
  border-radius: 50%
  content: ""
  height: 14px
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 14px

input[type="radio"]:focus + .radio-icon,
input[type="radio"]:active + .radio-icon
  box-shadow: 0 0 0 2px #00d123

.checkbox-text,
.radio-text
  cursor: pointer

input[type="checkbox"]:disabled ~ .checkbox-text,
input[type="checkbox"].disabled ~ .checkbox-text,
input[type="checkbox"]:disabled ~ .checkbox-icon,
input[type="checkbox"].disabled ~ .checkbox-icon,
input[type="radio"]:disabled ~ .radio-text,
input[type="radio"].disabled ~ .radio-text,
input[type="radio"]:disabled ~ .radio-icon,
input[type="radio"].disabled ~ .radio-icon
  cursor: default
  opacity: 0.5
