.select
  display: block

.select-block
  display: block

  .select2-container
    width: 100% !important

  .select2-container .select2-selection--single
    border-radius: 0
    border: none
    height: 50px

  .select2-container--default .select2-selection--single .select2-selection__rendered
    color: #9c9c9c
    line-height: 50px
    padding-left: 14px
    padding-right: 38px

    @media(min-width: 1200px)
      padding-left: 30px
      padding-right: 70px

  .select2-container--default .select2-selection--single .select2-selection__arrow
    height: 50px
    width: 38px

    @media(min-width: 1200px)
      width: 70px

  .select2-container--default .select2-selection--single .select2-selection__arrow b
    background: url('../images/icons/small-arrow-down.png')
    border: none
    height: 5px
    margin-top: -5px
    width: 9px

  .select2-dropdown
    border: none
    border-radius: 0

  .select2-results__option
    margin-bottom: 0
    padding: 13px 14px

    @media(min-width: 1200px)
      padding-left: 30px
      padding-right: 30px
