<div class="banners">
  <div class="banners__item">
    <a class="banner" href="#" style="background-image: url('images/content/img_2.jpg')">
      <span class="banner__inner">
        <span class="banner__title">Как выбрать дверь?</span>
        <span class="banner__text">Почитайте советы наших<br> профессионалов</span>
      </span>
    </a>
  </div>
  <div class="banners__item">
    <a class="banner" href="#" style="background-image: url('images/content/img_3.jpg')">
      <span class="banner__inner">
        <span class="banner__title">На нашу работу<br> приятно смотреть</span>
        <span class="banner__text">Посмотрите и убедитесь сами</span>
      </span>
    </a>
  </div>
</div>