<div class="banners banners--indented">
  <div class="banners__item">
    <div class="banner" style="background-image: url('images/content/img_4.jpg')">
      <span class="banner__inner">
        <img class="banner__icon" src="images/icons/banner_1.svg" alt="">
        <p class="banner__title">Актуальные<br> новости и скидки
      </span>
      <div class="banner__text">
        В Социальных сетях
        <div class="social-links">
          <a class="social-link social-link--white" href="#" target="_blank" title="Instagram">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#inst" />
            </svg>
          </a>
          <a class="social-link social-link--white" href="#" target="_blank" title="Facebook">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#fb" />
            </svg>
          </a>
          <a class="social-link social-link--white" href="#" target="_blank" title="Vk">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#vk" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="banners__item">
    <a class="banner" href="#" style="background-image: url('images/content/img_5.jpg')">
      <span class="banner__inner">
        <img class="banner__icon" src="images/icons/banner_2.svg" alt="">
        <span class="banner__title">Горячая<br> линия качества</span>
        <span class="banner__text">Если что-то пошло не так</span>
      </span>
    </a>
  </div>
</div>