<div class="js-custom-scroll-mobile catalog-slider">
  <div class="js-catalog-slider_4 catalog-slider__list">
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_45.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_46.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_45.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_46.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_45.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_46.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_45.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="#">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_46.png" alt="Renz 603 CF кофе">
          </span>
        </span>
        <span class="catalog-item__type">Ручка</span>
        <span class="catalog-item__title">Renz 603 CF кофе</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price">5 820 р.</span>
        </span>
      </a>
    </div>
  </div>
</div>