<div class="js-custom-scroll-mobile catalog-slider">
  <div class="js-catalog-slider_2 catalog-slider__list">
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_9.jpg" alt="Turen Becker Соммер">
          </span>
          <span class="catalog-item__marker catalog-item__marker--hit">ХИТ</span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Turen Becker Соммер</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">5 820 р.</span>
          <span class="catalog-item__price catalog-item__price--old">9 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_13.jpg" alt="Velldoris Smart ПГ Дуб">
          </span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Velldoris Smart ПГ Дуб</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">2 620 р.</span>
          <span class="catalog-item__price catalog-item__price--old">3 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_9.jpg" alt="Turen Becker Соммер">
          </span>
          <span class="catalog-item__marker catalog-item__marker--hit">ХИТ</span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Turen Becker Соммер</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">5 820 р.</span>
          <span class="catalog-item__price catalog-item__price--old">9 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_13.jpg" alt="Velldoris Smart ПГ Дуб">
          </span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Velldoris Smart ПГ Дуб</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">2 620 р.</span>
          <span class="catalog-item__price catalog-item__price--old">3 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_9.jpg" alt="Turen Becker Соммер">
          </span>
          <span class="catalog-item__marker catalog-item__marker--hit">ХИТ</span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Turen Becker Соммер</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">5 820 р.</span>
          <span class="catalog-item__price catalog-item__price--old">9 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_13.jpg" alt="Velldoris Smart ПГ Дуб">
          </span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Velldoris Smart ПГ Дуб</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">2 620 р.</span>
          <span class="catalog-item__price catalog-item__price--old">3 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_9.jpg" alt="Turen Becker Соммер">
          </span>
          <span class="catalog-item__marker catalog-item__marker--hit">ХИТ</span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Turen Becker Соммер</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">5 820 р.</span>
          <span class="catalog-item__price catalog-item__price--old">9 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_13.jpg" alt="Velldoris Smart ПГ Дуб">
          </span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Velldoris Smart ПГ Дуб</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">2 620 р.</span>
          <span class="catalog-item__price catalog-item__price--old">3 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_9.jpg" alt="Turen Becker Соммер">
          </span>
          <span class="catalog-item__marker catalog-item__marker--hit">ХИТ</span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Turen Becker Соммер</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">5 820 р.</span>
          <span class="catalog-item__price catalog-item__price--old">9 990 р.</span>
        </span>
      </a>
    </div>
    <div class="catalog-slider__item">
      <a class="catalog-item" href="catalog-detail.html">
        <span class="catalog-item__image-block">
          <span class="catalog-item__image">
            <img src="images/content/img_13.jpg" alt="Velldoris Smart ПГ Дуб">
          </span>
          <span class="catalog-item__marker catalog-item__marker--action">АКЦИЯ</span>
        </span>
        <span class="catalog-item__type">Дверь</span>
        <span class="catalog-item__title">Velldoris Smart ПГ Дуб</span>
        <span class="catalog-item__price-block">
          <span class="catalog-item__price catalog-item__price--new">2 620 р.</span>
          <span class="catalog-item__price catalog-item__price--old">3 990 р.</span>
        </span>
      </a>
    </div>
  </div>
</div>