<div class="js-custom-scroll features2">
  <div class="features2__list">
    <div class="feature2">
      <div class="feature2__image"><img src="images/icons/feature_4.svg" alt="Простой выбор"></div>
      <p class="feature2__title">Простой выбор</p>
      <p>Мы тщательно отбираем наших партнеров и поставщиков среди производителей дверей и сопутствующих товаров</p>
    </div>
    <div class="feature2">
      <div class="feature2__image"><img src="images/icons/feature_5.svg" alt="Точный замер"></div>
      <p class="feature2__title">Точный замер</p>
      <p>Мы тщательно отбираем наших партнеров</p>
    </div>
    <div class="feature2">
      <div class="feature2__image"><img src="images/icons/feature_6.svg" alt="Быстрая доставка"></div>
      <p class="feature2__title">Быстрая доставка</p>
      <p>Мы тщательно отбираем наших партнеров и поставщиков среди производителей дверей и сопутствующих товаров</p>
    </div>
    <div class="feature2">
      <div class="feature2__image"><img src="images/icons/feature_7.svg" alt="Аккуратная установка"></div>
      <p class="feature2__title">Аккуратная установка</p>
      <p>Мы тщательно отбираем наших партнеров</p>
    </div>
  </div>
</div>