<div class="js-custom-scroll features3">
  <div class="features3__list">
    <div class="features3__list-item">
      <div class="feature3">
        <div class="feature3__image"><img src="images/icons/feature_8.svg" alt="Искренний сервис"></div>
        <p class="feature3__title">Искренний сервис</p>
        <p>Внимательное отношение к клиенту и его ремонту вызывает положительные эмоции и оставляет приятные впечатления от работы с нашей компанией</p>
      </div>
    </div>
    <div class="features3__list-item">
      <div class="feature3">
        <div class="feature3__image"><img src="images/icons/feature_9.svg" alt="Высокий уровень компетенций"></div>
        <p class="feature3__title">Высокий<br> уровень компетенций</p>
        <p>Внимательное отношение к клиенту и его ремонту вызывает положительные эмоции и оставляет приятные впечатления от работы с нашей компанией</p>
      </div>
    </div>
    <div class="features3__list-item">
      <div class="feature3">
        <div class="feature3__image"><img src="images/icons/feature_10.svg" alt="Быстрая доставка"></div>
        <p class="feature3__title">Любим то, что делаем</p>
        <p>Внимательное отношение к клиенту и его ремонту вызывает положительные эмоции и оставляет приятные впечатления от работы с нашей компанией</p>
      </div>
    </div>
  </div>
</div>