<div class="features">
  <div class="feature">
    <div class="feature__icon-block">
      <img class="feature__icon" src="images/icons/feature_1.svg" alt="Беспроцентная рассрочка 0-0-12">
    </div>
    <p>Беспроцентная<br> рассрочка 0-0-12</p>
  </div>
  <div class="feature">
    <div class="feature__icon-block">
      <img class="feature__icon" src="images/icons/feature_2.svg" alt="Гарантия 10 лет">
    </div>
    <p>Гарантия<br> 10 лет</p>
  </div>
  <div class="feature">
    <div class="feature__icon-block">
      <img class="feature__icon" src="images/icons/feature_3.svg" alt="Скидки от партнеров">
    </div>
    <p>Скидки<br> от партнеров</p>
  </div>
</div>