<footer class="footer">
  <div class="footer__inner">
    <div class="footer__column">
      <p class="js-footer-menu-opener footer__column-title">О компании</p>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Адреса магазинов</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Отзывы</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="news.html">Новости</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Партнерам</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="vacancies.html">Вакансии</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <p class="js-footer-menu-opener footer__column-title">Покупателю</p>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Оплата и доставка</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="tips.html">Советы профессионалов</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="actions.html">Акции</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Распродажа</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Услуги</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="works.html">Наши работы</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Политика возврата</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Защита персональных данных</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <p class="js-footer-menu-opener footer__column-title">Каталог</p>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="catalog-section.html">Межкомнатные двери</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="catalog-section-entrance.html">Входные двери</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="catalog-section-furniture.html">Фурнитура</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Перегородки</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Двери специального назначения</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="sliding-doors.html">Раздвижные двери</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <p class="footer__copyright">2012-2019 ИП&nbsp;Николаев&nbsp;А.В.</p>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Реквизиты
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Написать письмо директору</a></li>
      </ul>
      <div class="social-links">
        <a class="social-link" href="#" target="_blank" title="Instagram">
          <svg class="social-link__icon" aria-hidden="true">
            <use xlink:href="#inst" />
          </svg>
        </a>
        <a class="social-link" href="#" target="_blank" title="Facebook">
          <svg class="social-link__icon" aria-hidden="true">
            <use xlink:href="#fb" />
          </svg>
        </a>
        <a class="social-link" href="#" target="_blank" title="Vk">
          <svg class="social-link__icon" aria-hidden="true">
            <use xlink:href="#vk" />
          </svg>
        </a>
      </div>
      <div class="footer__payment">
        <p class="footer__payment-title">В магазинах мы принимаем<br> к оплате карты:</p>
        <p class="footer__payments">
          <img src="images/visa.png" alt="VISA">
          <img src="images/mastercard.png" alt="MasterCard">
        </p>
      </div>
    </div>
  </div>
</footer>