<div class="form-block get-coupon">
  <div class="get-coupon__inner container">
    <h3 class="form-block__title get-coupon__title">Получить купон на скидку</h3>
    <form class="get-coupon__form" action="/" method="post">
      <div class="get-coupon__cell">
        <label class="input-label" for="name">
          <input id="name" class="js-input input" type="text" name="name" value="" />
          <span class="input-label__label">Имя</span>
        </label>
      </div>
      <div class="get-coupon__cell">
        <label class="input-label" for="phone">
          <input id="phone" class="js-input js-phone-mask input" type="text" name="phone" value="" />
          <span class="input-label__label">Телефон</span>
        </label>
      </div>
      <div class="form-block__button-block get-coupon__cell">
        <button class="form-block__button button" type="submit">Получить</button>
      </div>
    </form>
  </div>
</div>