<div class="info-block">
  <div class="container">
    <div class="info-banner" style="background-image: url('images/content/img_7.jpg')">
      <h2 class="info-banner__title">За 10 лет мы установили более 200 000 дверей</h2>
      <p class="info-banner__text">Это средняя численность населения провинциального российского города.</p>
      <div class="info-features">
        <div class="info-feature">
          <p class="info-feature__num">800</p>
          <p class="info-feature__text">Человек стали нашими<br> клиентами в ноябре</p>
        </div>
        <div class="info-feature">
          <p class="info-feature__num">89 000</p>
          <p class="info-feature__text">Клиентов<br> за 10 лет работы</p>
        </div>
        <div class="info-feature">
          <p class="info-feature__num">92%</p>
          <p class="info-feature__text">Клиентов готовы<br> нас рекомендовать</p>
        </div>
      </div>
    </div>
  </div>
</div>