<div class="form-block manager-request">
  <div class="container">
    <div class="manager-request__inner">
      <h3 class="manager-request__title form-block__title">Выбери на сайте и купи двери, не выходя из дома!</h3>
      <p class="manager-request__subtitle">Вызвать менеджера на дом</p>
      <form class="manager-request__form form" action="/" method="post">
        <div class="manager-request__cell">
          <label class="input-label" for="name_">
            <input id="name_" class="js-input input" type="text" name="name_" value="" />
            <span class="input-label__label">Имя</span>
          </label>
        </div>
        <div class="manager-request__cell">
          <label class="input-label" for="phone_">
            <input id="phone_" class="js-input js-phone-mask input" type="text" name="phone_" value="" />
            <span class="input-label__label">Телефон</span>
          </label>
        </div>
        <div class="form-block__button-block manager-request__cell">
          <button class="form-block__button button" type="submit">Вызвать</button>
        </div>
      </form>
    </div>
  </div>
</div>