<div class="news-block">
  <div class="container">
    <div class="title-block">
      <h2>Новости</h2>
      <div class="js-news-nav title-block__nav"></div>
    </div>
  </div>
  <div class="js-custom-scroll-mobile news-slider">
    <div class="js-news-slider news-slider__list">
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Скидка 7%<br> на весь заказ</span>
          <span class="news-item__preview-text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.</span>
        </a>
      </div>
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Длинный текст заголовка для проверки блока новости</span>
          <span class="news-item__preview-text">Короткий текст превью</span>
        </a>
      </div>
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Скидка 7%<br> на весь заказ</span>
          <span class="news-item__preview-text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.</span>
        </a>
      </div>
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Скидка 7%<br> на весь заказ</span>
          <span class="news-item__preview-text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.</span>
        </a>
      </div>
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Скидка 7%<br> на весь заказ</span>
          <span class="news-item__preview-text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.</span>
        </a>
      </div>
      <div class="news-slider__slide">
        <a class="news-item" href="news-detail.html">
          <span class="news-item__date">07.08.19</span>
          <span class="news-item__title">Скидка 7%<br> на весь заказ</span>
          <span class="news-item__preview-text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации.</span>
        </a>
      </div>
    </div>
  </div>
</div>