<div class="reviews-block">
  <div class="container">
    <div class="title-block">
      <h2>Отзывы о нашей работе</h2>
      <div class="js-reviews-nav title-block__nav"></div>
    </div>
    <div class="js-custom-scroll-mobile reviews">
      <div class="js-reviews-slider reviews__list">
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение, не смотря на твой бюджет и выбор дверей. Подскажут, что лучше в той или иной ценовой категории взять.</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/content/img_6.jpg" alt="Александра"></div>
              <div class="review__author-about">
                <p class="review__author-name">Александра</p>
                <p class="review__date">05.06.19</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/content/img_6.jpg" alt="Александра"></div>
              <div class="review__author-about">
                <p class="review__author-name">Евгения</p>
                <p class="review__date">10.07.19</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение, не смотря на твой бюджет и выбор дверей. Подскажут, что лучше в той или иной ценовой категории взять.</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/icons/review__avatar-default.jpg" alt="Григорий"></div>
              <div class="review__author-about">
                <p class="review__author-name">Григорий</p>
                <p class="review__date">15.09.19</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение, не смотря на твой бюджет и выбор дверей. Подскажут, что лучше в той или иной ценовой категории взять.</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/content/img_6.jpg" alt="Александра"></div>
              <div class="review__author-about">
                <p class="review__author-name">Александра</p>
                <p class="review__date">05.06.19</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/content/img_6.jpg" alt="Александра"></div>
              <div class="review__author-about">
                <p class="review__author-name">Евгения</p>
                <p class="review__date">10.07.19</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__list-item">
          <div class="review">
            <div class="review__text">
              <p>Понравилось человеческое отношение, не смотря на твой бюджет и выбор дверей. Подскажут, что лучше в той или иной ценовой категории взять.</p>
            </div>
            <div class="review__author">
              <div class="review__author-avatar"><img src="images/icons/review__avatar-default.jpg" alt="Григорий"></div>
              <div class="review__author-about">
                <p class="review__author-name">Григорий</p>
                <p class="review__date">15.09.19</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="reviews-block__to-all"><a href="#">Все отзывы</a></p>
  </div>
</div>