<div class="side-bar">
  <div class="side-bar__inner">
    <button class="js-side-bar-close side-bar__close" type="button" title="Закрыть меню">
      <svg class="side-bar__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <div class="side-bar__phone-block">
      <a class="side-bar__phone" href="tel:+78124674429">+7 812 467-44-29</a>
    </div>
    <a class="side-bar__logo" href="index.html">
      <img width="127" height="47" src="images/logo.svg" alt="Дверишоп">
    </a>
    <form class="search-bar" method="post" action="">
      <label class="search-bar__label" for="search">
        <input id="search" class="search-bar__input" type="text" name="search" value="" placeholder="Найти двери">
      </label>
      <button class="js-search-opener search-bar__button" type="button" title="Найти">
        <svg class="search-bar__button-icon" aria-hidden="true">
          <use xlink:href="#search" />
        </svg>
      </button>
    </form>
    <nav class="side-bar__nav">
      <ul class="catalog-menu">
        <li class="catalog-menu__item">
          <a class="catalog-menu__link is-active" href="catalog-section.html">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_1" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Межкомнатные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_2" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Входные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="catalog-section-furniture.html">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_3" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Фурнитура</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#catalog_section_4" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Перегородки</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="sliding-doors.html">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_5" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Раздвижные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_6" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Двери спец. назначения</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#catalog_section_7" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Акции</span>
          </a>
        </li>
      </ul>
      <ul class="service-menu">
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon" aria-hidden="true">
                <use xlink:href="#service_menu_1" />
              </svg>
            </span>
            <span class="service-menu__link-text">Вызвать замерщика</span>
          </a>
        </li>
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#service_menu_2" />
              </svg>
            </span>
            <span class="service-menu__link-text">Распродажа</span>
          </a>
        </li>
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#service_menu_3" />
              </svg>
            </span>
            <span class="service-menu__link-text">Купить оптом</span>
          </a>
        </li>
      </ul>
      <ul class="mm-menu">
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">О Компании</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">Замер и установка</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">Оплата и доставка</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">Работы</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">Отзывы</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="#">Магазины <span class="mm-menu__count">10</span></a></li>
      </ul>
    </nav>
  </div>
</div>