<div class="side-bar">
  <div class="side-bar__inner">
    <button class="js-side-bar-close side-bar__close" type="button" title="Закрыть меню">
      <svg class="side-bar__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <div class="side-bar__phone-block">
      <a class="side-bar__phone" href="tel:+78124674429">+7 812 467-44-29</a>
    </div>
    <a class="side-bar__logo" href="main.html">
      <img width="127" height="47" src="images/logo.svg" alt="Дверишоп">
    </a>
    <form class="search-bar" method="post" action="search.html">
      <label class="search-bar__label" for="search">
        <input id="search" class="search-bar__input" type="text" name="search" value="" placeholder="Найти двери" autocomplete="off">
      </label>
      <button class="search-bar__button" type="submit" title="Найти">
        <svg class="search-bar__button-icon" aria-hidden="true">
          <use xlink:href="#search" />
        </svg>
      </button>
    </form>
    <nav class="side-bar__nav">
      <ul class="catalog-menu">
        <li class="catalog-menu__item">
          <a class="js-subnav-opener catalog-menu__link is-active" href="catalog-section.html" data-href="subnav_1">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_1" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Межкомнатные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="js-subnav-opener catalog-menu__link" href="catalog-section-entrance.html" data-href="subnav_2">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_2" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Входные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="js-subnav-opener catalog-menu__link" href="catalog-section-furniture.html" data-href="subnav_3">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_3" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Фурнитура</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#catalog_section_4" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Перегородки</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="sliding-doors.html">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_5" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Раздвижные двери</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="#">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon" aria-hidden="true">
                <use xlink:href="#catalog_section_6" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Двери спец. назначения</span>
          </a>
        </li>
        <li class="catalog-menu__item">
          <a class="catalog-menu__link" href="actions.html">
            <span class="catalog-menu__icon-block">
              <svg class="catalog-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#catalog_section_7" />
              </svg>
            </span>
            <span class="catalog-menu__link-text">Акции</span>
          </a>
        </li>
      </ul>
      <ul class="service-menu">
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon" aria-hidden="true">
                <use xlink:href="#service_menu_1" />
              </svg>
            </span>
            <span class="service-menu__link-text">Вызвать замерщика</span>
          </a>
        </li>
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#service_menu_2" />
              </svg>
            </span>
            <span class="service-menu__link-text">Распродажа</span>
          </a>
        </li>
        <li class="service-menu__item">
          <a class="service-menu__link" href="#">
            <span class="service-menu__icon-block">
              <svg class="service-menu__icon stroke-fill-revert" aria-hidden="true">
                <use xlink:href="#service_menu_3" />
              </svg>
            </span>
            <span class="service-menu__link-text">Купить оптом</span>
          </a>
        </li>
      </ul>
      <ul class="mm-menu">
        <li class="mm-menu__item"><a class="mm-menu__link" href="about.html">О Компании</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="zamer.html">Замер и установка</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="pay-delivery.html">Оплата и доставка</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="works.html">Работы</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="reviews.html">Отзывы</a></li>
        <li class="mm-menu__item"><a class="mm-menu__link" href="shops.html">Магазины <span class="mm-menu__count">10</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="side-bar__subnav subnav" data-target="subnav_1">
    <button class="js-subnav-close subnav__close" type="button" title="Закрыть">
      <svg class="subnav__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <p class="subnav__title">
      <a class="subnav__title-link" href="#">Межкомнатные двери</a>
    </p>
    <ul class="subnav__list">
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/profil.jpg" alt="Profil Doors"><br>
          Profil Doors
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/velldoris.jpg" alt="Velldoris"><br>
          Velldoris
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/turen.jpg" alt="Turen Becker"><br>
          Turen Becker
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/zadoor.jpg" alt="Zadoor"><br>
          Zadoor
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/forest.jpg" alt="Форест"><br>
          Форест
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/post.jpg" alt="Поставский Мебельный Центр"><br>
          Поставский Мебельный Центр
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/estet.jpg" alt="Эстет"><br>
          Эстет
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/framir.jpg" alt="Фрамир"><br>
          Фрамир
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/status.jpg" alt="Status"><br>
          Status
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/quest.jpg" alt="Questdoors"><br>
          Questdoors
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/akma.jpg" alt="Акма"><br>
          Акма
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/arsenal.jpg" alt="Арсенал"><br>
          Арсенал
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/greenwood.jpg" alt="Greenwood"><br>
          Greenwood
        </a>
      </li>
      <li class="subnav__list-item">
        <a class="subnav__list-link" href="#">
          <img src="images/content/fabrics/linedoor.jpg" alt="Linedoor"><br>
          Linedoor
        </a>
      </li>
    </ul>
    <p class="subnav__link-block">
      <a class="subnav__link" href="#">Выбрать по другим параметрам</a>
    </p>
  </div>
  <div class="side-bar__subnav subnav" data-target="subnav_2">
    <button class="js-subnav-close subnav__close" type="button" title="Закрыть">
      <svg class="subnav__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <p class="subnav__title">
      <a class="subnav__title-link" href="#">Входные двери</a>
    </p>
    <ul class="subnav__list">
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Stardis</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Valberg</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Бульдорс</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Выбор</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Зенит</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Кондор</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Тоун</a></li>
    </ul>
    <p class="subnav__link-block">
      <a class="subnav__link" href="#">Выбрать по другим параметрам</a>
    </p>
  </div>
  <div class="side-bar__subnav subnav" data-target="subnav_3">
    <button class="js-subnav-close subnav__close" type="button" title="Закрыть">
      <svg class="subnav__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <p class="subnav__title">
      <a class="subnav__title-link" href="#">Фурнитура</a>
    </p>
    <ul class="subnav__list">
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Morelli</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Morelli Luxury</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Renz</a></li>
      <li class="subnav__list-item"><a class="subnav__list-link" href="#">Rucetti</a></li>
    </ul>
    <p class="subnav__link-block">
      <a class="subnav__link" href="#">Выбрать по другим параметрам</a>
    </p>
  </div>
</div>