<div class="slider">
  <div class="js-slider slider__list">
    <div class="slider__slide">
      <img class="slider__image" src="images/content/img_1.jpg" alt="Первый слайд">
      <div class="slider__slide-inner">
        <p class="slider__title">Скидка <span class="color-red">12%</span></p>
        <p class="slider__text">На межкомнатные двери</p>
      </div>
    </div>
    <div class="slider__slide">
      <img class="slider__image" src="images/content/img_1.jpg" alt="Первый слайд">
      <div class="slider__slide-inner">
        <p class="slider__title">Более динный заголовок слайда<br> в несколько строк</p>
        <p class="slider__text">Длинный текст описывающий слайд</p>
      </div>
    </div>
  </div>
  <div class="js-slider-nav slider__nav"></div>
</div>