.main-page
  .header
    background-color: #f5f5f5

    @media(min-width: 992px)
      background-color: rgba(0,0,0,0.4)
      box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
      left: 0
      min-height: 126px
      position: absolute
      top: 0

    &__inner
      @media(min-width: 992px)
        min-height: 126px

    &__phone-block
      @media(min-width: 1600px)
        margin-right: auto

    &__phone
      color: #fff

      &:hover,
      &:focus
        border-bottom-color: #fff

    &__recall-button
      border: 1px solid rgba(255,255,255,0.3)
      color: #fff

      &:hover,
      &:focus
        background-color: rgba(255,255,255,0.3)

    .logo
      @media(min-width: 992px)
        display: none

  .main-menu
    @media(min-width: 1600px)
      margin-left: auto
      margin-right: auto

    &__item
      &:not(:last-child)
        margin-right: 20px

        @media(min-width: 1200px)
          margin-right: 20px

        @media(min-width: 1400px)
          margin-right: 30px

        @media(min-width: 1600px)
          margin-right: 45px

        @media(min-width: 1900px)
          margin-right: 70px

    &__link
      color: #fff

  .cart-link
    color: #fff

    &__icon
      @media(min-width: 992px)
        fill: #fff

.header
  background-color: #fff
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
  left: 0
  min-height: 68px
  position: fixed
  top: 0
  width: 100%
  z-index: 10

  @media(min-width: 992px)
    background-color: #f5f5f5
    box-shadow: none
    min-height: 97px
    left: auto
    position: static
    top: auto

  &__inner
    align-items: center
    display: flex
    justify-content: space-between
    min-height: 68px

    @media(min-width: 992px)
      min-height: 97px

  &__phone-block
    display: none
    line-height: 1.388
    text-align: center

    @media(min-width: 992px)
      display: block

    @media(min-width: 1600px)
      margin-right: 40px

    a
      border-bottom: 1px dotted transparent
      color: #1a1a1a
      font-size: 16px
      transition: border-color 0.3s
      text-decoration: none

      &:hover,
      &:focus
        border-bottom-color: #1a1a1a

  //&__phone
    border-bottom: 1px dotted transparent
    color: #1a1a1a
    font-size: 16px
    transition: border-color 0.3s
    text-decoration: none

    //&:hover,
    //&:focus
      border-bottom-color: #1a1a1a

  &__recall-button
    background: none
    border: 1px solid rgba(#1a1a1a, 0.3)
    border-radius: 16px
    color: #1a1a1a
    cursor: pointer
    font-size: 13px
    height: 20px
    line-height: 10px
    margin-top: 3px
    padding-top: 5px
    padding-bottom: 3px
    padding-left: 14px
    padding-right: 14px
    transition: background-color 0.3s

    &:hover,
    &:focus
      background-color: rgba(#1a1a1a, 0.3)

  .logo
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    width: 98px

    @media(min-width: 992px)
      left: auto
      min-width: 80px
      position: static
      top: auto
      transform: none
      width: 80px

    @media(min-width: 1350px)
      min-width: 127px
      width: 127px

    @media(min-width: 1600px)
      margin-right: 80px

.burger
  align-items: center
  background: none
  border: none
  cursor: pointer
  display: flex
  justify-content: center
  height: 40px
  padding: 0
  width: 40px

  @media(min-width: 992px)
    display: none

  &__icon
    fill: #1a1a1a
    height: 22px
    width: 22px

.main-menu
  display: none

  @media(min-width: 992px)
    display: block

  @media(min-width: 1600px)
    margin-right: auto

  &__list
    align-items: center
    display: flex
    font-size: 15px
    list-style: none
    margin: 0
    padding: 0

    @media(min-width: 992px) and (max-width: 1499px)
      font-size: 13px

  &__item
    margin-bottom: 0

    &:not(:last-child)
      margin-right: 20px

      @media(min-width: 1200px)
        margin-right: 30px

      @media(min-width: 1400px)
        margin-right: 45px

      @media(min-width: 1900px)
        margin-right: 70px

  &__link
    align-items: center
    color: #1a1a1a
    display: flex
    padding-top: 15px
    padding-bottom: 15px
    text-decoration: none

    &:hover,
    &:focus,
    &.is-active
      .main-menu__link-text
        text-decoration: underline

  &__count
    align-items: center
    border: 1px solid #bababa
    border-radius: 20px
    display: flex
    font-size: 11px
    justify-content: center
    height: 20px
    line-height: 11px
    margin-left: 10px
    margin-top: -2px
    padding-top: 4px
    padding-bottom: 3px
    text-align: center
    text-decoration: none
    width: 36px

.cart-link
  align-items: center
  color: #1a1a1a
  display: flex
  height: 40px
  justify-content: center
  position: relative
  text-decoration: none
  width: 40px

  &__icon
    fill: #1a1a1a
    height: 20px
    width: 20px

  &__count
    align-items: center
    border-radius: 50%
    background-color: #e22a1b
    color: #fff
    display: flex
    font-size: 11px
    height: 18px
    justify-content: center
    line-height: 11px
    left: auto
    padding-top: 2px
    position: absolute
    right: -7px
    top: -7px
    text-align: center
    width: 18px
