.main-page
  .side-bar
    left: -310px
    width: 310px

    @media(min-width: 992px)
      left: 0
      width: 50px

    @media(min-width: 1200px)
      width: 310px

    &__inner
      @media(min-width: 768px)
        width: 310px

      @media(min-width: 1200px)
        padding-top: 20px

      @media(min-width: 1200px) and (min-height: 950px)
        padding-top: 35px

    &__logo
      @media(min-width: 1200px)
        display: block
        min-height: 47px
        margin-left: auto
        margin-right: auto
        margin-bottom: 15px
        width: 127px

      @media(min-width: 1200px) and (min-height: 950px)
        margin-bottom: 30px

  .search-bar
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 13px
    position: relative

    @media(min-width: 992px) and (max-width: 1199px)
      border-top: none
      border-bottom: none
      margin-left: 0
      margin-right: 0
      margin-bottom: 0

    //&.is-open
      @media(min-width: 992px) and (max-width: 1199px)
        .search-bar__label
          opacity: 1
          width: 260px

    &__label
      display: block

      @media(min-width: 992px) and (max-width: 1199px)
        height: 100%
        left: 50px
        opacity: 0
        overflow: hidden
        position: absolute
        top: 0
        transition: all 0.3s
        width: 0

      @media(min-width: 1200px)
        left: auto
        opacity: 1
        position: static
        top: auto
        width: 100%

    &__input
      border: none
      border-radius: 0
      box-shadow: none
      background-color: #fff
      font-size: 14px
      height: 46px
      line-height: 20px
      padding: 13px 10px 13px 50px
      width: 100%

      @media(min-width: 992px) and (max-width: 1199px)
        padding-left: 18px

      @media(min-width: 1200px)
        padding-left: 60px

      &::-webkit-input-placeholder
        color: #9c9c9c
        opacity: 1

      &::-moz-placeholder
        color: #9c9c9c
        opacity: 1

      &:-ms-input-placeholder
        color: #9c9c9c
        opacity: 1

    &__button
      align-items: center
      background-color: #fff
      border: none
      cursor: pointer
      display: flex
      justify-content: flex-end
      height: 44px
      left: 0
      padding: 0 16px
      position: absolute
      top: 1px
      width: 50px

      @media(min-width: 992px) and (max-width: 1199px)
        position: relative
        top: 0
        z-index: 1

      @media(min-width: 1200px)
        cursor: default
        width: 60px

    &__button-icon
      fill: #1a1a1a
      height: 18px
      width: 18px

  .catalog-menu
    &__link
      @media(min-width: 992px) and (max-width: 1199px)
        padding-left: 10px

      @media(min-width: 1200px) and (min-height: 700px)
        padding-top: 10px
        padding-bottom: 10px

      @media(min-width: 1200px) and (min-height: 850px)
        padding-top: 13px
        padding-bottom: 13px

    &__link-text
      @media(min-width: 1200px)
        background-color: transparent
        opacity: 1
        position: static
        padding-left: 0
        width: auto

    &__icon-block
      @media(min-width: 1200px) and (min-height: 800px)
        height: 36px
        min-width: 36px
        width: 36px

      @media(min-width: 1200px) and (min-height: 950px)
        height: 43px
        min-width: 43px
        width: 43px

    &__icon
      @media(min-width: 1200px) and (min-height: 800px)
        height: 36px
        width: 36px

      @media(min-width: 1200px) and (min-height: 950px)
        height: 43px
        width: 43px

  .service-menu
    &__link
      @media(min-width: 992px) and (max-width: 1199px)
        padding-left: 10px

      @media(min-width: 1200px)
        padding-top: 10px
        padding-bottom: 10px

      @media(min-width: 1200px)
        padding-top: 13px
        padding-bottom: 13px

    &__link-text
      @media(min-width: 1200px)
        background-color: transparent
        opacity: 1
        position: static
        padding-left: 0
        width: auto

    &__icon-block
      @media(min-width: 1200px) and (min-height: 800px)
        height: 36px
        min-width: 36px
        width: 36px

      @media(min-width: 1200px) and (min-height: 950px)
        height: 43px
        min-width: 43px
        width: 43px

    &__icon
      @media(min-width: 1200px) and (min-height: 800px)
        height: 36px
        width: 36px

      @media(min-width: 1200px) and (min-height: 950px)
        height: 43px
        width: 43px

.side-bar
  background-color: #fff
  height: 100%
  left: -310px
  overflow-y: auto
  overflow-x: hidden
  position: fixed
  scrollbar-width: thin
  top: 0
  transition: left 0.3s, width 0.3s
  width: 310px
  z-index: 11

  &.is-open
    left: 0

    &::before
      background-color: rgba(0,0,0,0.5)
      content: ''
      height: 100%
      left: 0
      position: fixed
      top: 0
      width: 100%
      z-index: 1

  @media(min-width: 992px)
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
    left: 0
    width: 50px

  &.subnav-is-open
    @media(min-width: 768px)
      width: 740px !important

    .side-bar__inner
      @media(min-width: 768px)
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
        width: 310px

    .catalog-menu__link-text
      @media(min-width: 768px)
        opacity: 1
        width: 260px

    .service-menu__link-text
      @media(min-width: 768px)
        opacity: 1
        width: 260px

    .search-bar__label
      @media(min-width: 768px)
        opacity: 1
        width: 260px

    &:hover
      @media(min-width: 768px)
        width: 740px

    &.side-bar--big
      @media(min-width: 1200px)
        width: 1170px !important

  &:hover
    @media(min-width: 992px)
      width: 310px

    .catalog-menu__link-text
      @media(min-width: 992px)
        opacity: 1
        width: 260px

    .service-menu__link-text
      @media(min-width: 992px)
        opacity: 1
        width: 260px

    .search-bar__label
      @media(min-width: 992px)
        opacity: 1
        width: 260px

  &__inner
    background-color: #fff
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
    display: flex
    flex-direction: column
    min-height: 100%
    position: relative
    padding-top: 25px
    padding-bottom: 20px
    z-index: 2

    @media(min-width: 992px)
      padding-top: 0
      padding-bottom: 0

  &__close
    align-items: center
    background-color: #fff
    border: none
    cursor: pointer
    display: flex
    justify-content: center
    height: 40px
    left: auto
    position: absolute
    padding: 0
    right: 10px
    top: 10px
    width: 40px

    @media(min-width: 992px)
      display: none

  &__close-icon
    fill: #1a1a1a
    height: 20px
    width: 20px

  &__phone-block
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 20px

    @media(min-width: 992px)
      display: none

    a
      color: #1a1a1a
      font-size: 16px
      line-height: 1.388
      text-decoration: none

  &__logo
    display: none

  &__nav
    display: flex
    flex-direction: column
    flex-grow: 1

  &__subnav
    background-color: #fff
    display: none
    height: 100%
    left: -430px
    overflow-y: auto
    overflow-x: hidden
    position: absolute
    scrollbar-width: thin
    top: 0
    transition: left 0.3s, width 0.3s
    width: 430px
    z-index: 1

    @media(min-width: 768px)
      display: block

    &--big
      @media(min-width: 1200px)
        padding-left: 30px
        padding-right: 30px
        width: 860px

      .sections-list
        @media(min-width: 1200px)
          display: flex
          flex-wrap: wrap
          justify-content: space-between

      .sections-list__item
        @media(min-width: 1200px)
          width: calc(50% - 10px)

    &.is-open
      @media(min-width: 768px)
        left: 310px

.subnav
  padding-left: 20px
  padding-right: 20px

  &__close
    align-items: center
    background-color: #fff
    border: none
    cursor: pointer
    display: flex
    justify-content: center
    height: 40px
    left: auto
    position: absolute
    padding: 0
    right: 10px
    top: 10px
    width: 40px
    z-index: 2

  &__close-icon
    fill: #1a1a1a
    height: 20px
    width: 20px

  &__title
    font-size: 20px
    font-weight: 700
    padding-top: 15px
    padding-top: 15px

  &__title-link
    color: #1a1a1a
    text-decoration: none
    transition: opacity 0.3s

    &:hover,
    &:focus
      opacity: 0.7

  &__list
    display: flex
    font-size: 13px
    flex-wrap: wrap
    list-style: none

  &__list-item
    margin-bottom: 0
    padding: 5px 15px 0
    width: 33.33333%

  &__list-link
    color: #1e1e1e
    display: block
    min-height: 80px
    text-align: center
    text-decoration: none

    &:hover,
    &:focus
      text-decoration: underline

    img
      max-width: 80px

  &__link-block
    font-size: 13px
    text-align: center

  &__link
    color: #1e1e1e

.sections-list
  list-style: none
  margin: 0
  padding: 30px 0 0

  &__item
    border-bottom: 1px solid #F3F3F3
    margin-bottom: 30px
    padding-bottom: 30px

.section-item
  background-color: transparent
  position: relative
  padding-left: 140px
  transition: background-color 0.3s

  &:hover
    background-color: #e22a1b
    color: #fff

    .section-item__link,
    .section-item__pseudo-link,
    .section-item__text
      color: #fff !important
      text-decoration: none

      svg
        fill: #fff

  &__link
    color: #1a1a1a
    display: block
    font-size: 18px
    font-weight: 500
    margin-bottom: 10px
    transition: color 0.3s

    //&:hover
      //color: #e22a1b !important
      text-decoration: none

    &::after
      bottom: 0
      background-color: transparent
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      transition: background-color 0.3s
      z-index: 1

    img
      max-width: 117px
      max-height: 80px
      left: 0
      position: absolute

  &__link-title
    display: block

  &__text
    color: rgba(#000, 0.7)
    font-size: 12px
    transition: color 0.3s

    &:not(:last-child)
      margin-bottom: 10px

  &__pseudo-link
    align-items: center
    display: flex
    font-size: 12px
    text-decoration: underline
    transition: color 0.3s

    svg
      height: 10px
      margin-left: 10px
      transition: fill 0.3s
      width: 10px

.search-bar
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 13px
  position: relative

  @media(min-width: 992px)
    border-top: none
    border-bottom: none
    margin-left: 0
    margin-right: 0
    margin-bottom: 0

  //&.is-open
    @media(min-width: 992px)
      .search-bar__label
        opacity: 1
        width: 260px

  &__label
    display: block

    @media(min-width: 992px)
      height: 100%
      left: 50px
      opacity: 0
      overflow: hidden
      position: absolute
      top: 0
      transition: all 0.3s
      width: 0

  &__input
    border: none
    border-radius: 0
    box-shadow: none
    background-color: #fff
    font-size: 14px
    height: 46px
    line-height: 20px
    padding: 13px 10px 13px 50px
    width: 100%

    @media(min-width: 992px)
      padding-left: 18px

    &::-webkit-input-placeholder
      color: #9c9c9c
      opacity: 1

    &::-moz-placeholder
      color: #9c9c9c
      opacity: 1

    &:-ms-input-placeholder
      color: #9c9c9c
      opacity: 1

  &__button
    align-items: center
    background-color: #fff
    border: none
    cursor: pointer
    display: flex
    justify-content: flex-end
    height: 44px
    left: 0
    padding: 0 16px
    position: absolute
    top: 1px
    width: 50px

    @media(min-width: 992px)
      position: relative
      top: 0
      z-index: 1

  &__button-icon
    fill: #1a1a1a
    height: 18px
    width: 18px

.catalog-menu
  list-style: none
  margin: 0 0 13px
  padding: 0

  &__item
    margin-bottom: 0

    @media(min-width: 1200px) and (min-height: 950px)
      margin-bottom: 6px

    &:last-child
      @media(min-width: 1200px)
        margin-bottom: 0

  &__link
    align-items: center
    color: #1a1a1a
    display: flex
    padding-top: 8px
    padding-bottom: 8px
    padding-left: 20px
    position: relative
    text-decoration: none
    transition: background-color 0.3s, color 0.3s
    white-space: nowrap

    @media(min-width: 992px)
      padding-left: 10px

    &:hover,
    &:focus
      background-color: #e22a1b
      color: #fff

      .catalog-menu__icon
        stroke: #fff

        &.stroke-fill-revert
          fill: #fff
          stroke: none

      .catalog-menu__link-text
        opacity: 1
        width: 260px

  &__link-text
    padding-top: 2px

    @media(min-width: 992px)
      align-items: center
      //background-color: #e22a1b
      display: flex
      //height: 100%
      //left: 100%
      opacity: 0
      overflow: hidden
      //position: absolute
      //padding-left: 15px
      //top: 0
      transition: width 0.3s, opacity 0.3s, padding 0.3s
      width: 0

  &__icon-block
    height: 30px
    min-width: 30px
    margin-right: 28px
    width: 30px

  &__icon
    fill: none
    height: 30px
    stroke: #1a1a1a
    stroke-width: 1px
    stroke-linecap: round
    stroke-linejoin: round
    transition: stroke 0.3s, fill 0.3s
    width: 30px

    &.stroke-fill-revert
      fill: #1a1a1a
      stroke: none

.service-menu
  list-style: none
  margin: 0 0 13px
  padding: 13px 0 0
  position: relative

  @media(min-width: 992px)
    margin-top: auto
    margin-bottom: 0

  &::before
    border-top: 1px solid #ccc
    content: ''
    display: block
    left: 20px
    position: absolute
    top: 0
    width: calc(100% - 40px)

  &__item
    margin-bottom: 0

    @media(min-width: 1200px) and (min-height: 950px)
      margin-bottom: 6px

    &:last-child
      @media(min-width: 1200px)
        margin-bottom: 0

  &__link
    align-items: center
    color: #1a1a1a
    display: flex
    padding-top: 8px
    padding-bottom: 8px
    padding-left: 20px
    position: relative
    text-decoration: none
    transition: background-color 0.3s, color 0.3s
    white-space: nowrap

    @media(min-width: 992px)
      padding-left: 10px

    &:hover,
    &:focus
      background-color: #e22a1b
      color: #fff

      .service-menu__icon
        stroke: #fff

        &.stroke-fill-revert
          fill: #fff
          stroke: none

      .service-menu__link-text
        opacity: 1
        width: 260px

  &__link-text
    padding-top: 2px

    @media(min-width: 992px)
      align-items: center
      //background-color: #e22a1b
      display: flex
      //height: 100%
      //left: 100%
      //opacity: 0
      overflow: hidden
      //position: absolute
      //padding-left: 15px
      //top: 0
      transition: width 0.3s, opacity 0.3s, padding 0.3s
      width: 0

  &__icon-block
    height: 30px
    min-width: 30px
    margin-right: 28px
    width: 30px

  &__icon
    fill: none
    height: 30px
    stroke: #1a1a1a
    stroke-width: 1px
    stroke-linecap: round
    stroke-linejoin: round
    transition: stroke 0.3s, fill 0.3s
    width: 30px

    &.stroke-fill-revert
      fill: #1a1a1a
      stroke: none

.mm-menu
  font-size: 14px
  line-height: 20px
  list-style: none
  margin: 0
  padding: 13px 0 0
  position: relative

  @media(min-width: 992px)
    display: none

  &::before
    border-top: 1px solid #ccc
    content: ''
    display: block
    left: 20px
    position: absolute
    top: 0
    width: calc(100% - 40px)

  &__item
    margin-bottom: 2px

    &:last-child
      margin-bottom: 0

  &__link
    align-items: center
    color: #1a1a1a
    display: flex
    padding-left: 20px
    padding-right: 20px
    padding-top: 11px
    padding-bottom: 10px
    text-decoration: none
    transition: background-color 0.3s, color 0.3s

    &:hover,
    &:focus
      background-color: #e22a1b
      color: #fff

  &__count
    align-items: center
    border: 1px solid #bababa
    border-radius: 20px
    display: flex
    font-size: 11px
    justify-content: center
    height: 20px
    line-height: 11px
    margin-left: 10px
    padding-top: 4px
    padding-bottom: 3px
    text-align: center
    width: 36px
